<Configuration>
    <Appenders>
        <Console name="Out">
            <PatternLayout pattern="%d{ISO8601} - %-5p [%t] - %c{-10}: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Out"/>
        </Root>

        <Logger level="INFO" name="org.springframework">
            <AppenderRef ref="Out" />
        </Logger>
    </Loggers>
</Configuration>